<!-- Componente Navbar -->
<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/img/LOGO_TIM.svg" alt="Gruppo TIM">
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">☰</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Gruppo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Investitori</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sostenibilità</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Newsroom</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Centro Studi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lavora con noi</a>
        </li>
        
        <li class="nav-item d-flex align-items-center search-container">
          <input type="text" class="search-box" placeholder="Cerca...">
          <span class="search-icon"><i class="fas fa-search"></i></span>
        </li>
        
        <li class="nav-item">
          <a class="nav-link language-toggle" href="#">EN</a>
        </li>
      </ul>
    </div>
  </div>
</nav>